<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigAuth-Authentified as it should !</title>
    <link rel="stylesheet" href="../public/styles/homeStyle.css">
</head>
<body>
    <h1>Welcome to BigAuth, your partner of confidence</h1>
    <div id="imgPlace">
        <h2>BigAuth : Secure authentification</h2>
        <h2 id="padlock">🔐</h2>
    </div>
    <div>
        <a href="login.html"><input type="button" value="Login"></a>
        <a href="signup.html"><input type="button" value="Sign up"></a>
    </div>
</body>
</html>